@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@layer base {
  .navName {
    font-family: 'Antonio', sans-serif;
  }
}

.mainHero {
  min-height: calc(100vh - 64px)
  }

.email {
  font-family: 'Noto Sans Mono', monospace;
  }

.linkedin {
  color: #1666c5;
  font-family: 'Helvetica', Arial, sans-serif;
}

.test {
  font-family: 'Lato', sans-serif;
}

.aboutTitle {
  font-family: 'Reem Kufi Ink', sans-serif;
}

.servicesBlue {
  background-color: rgb(0, 100, 255, 0.4);
}

.servicesRed {
  background-color: rgb(255, 0, 0, 0.4);
}

.servicesGreen {
  background-color: rgb(0, 255, 0, 0.4);
}

.servicesYellow {
  background-color: rgb(255, 255, 0, 0.4);
}

.heroTitle {
  animation: color-change 5s infinite;
}

.logoBlue {
  border-color: rgb(0, 56, 244);
}

.textBlue {
  color: rgb(0, 56, 244);
}

.hovercard {
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

/* Loader */
.loader {
  position: relative;
  width: 200px;
  height: 200px;
  animation: animate 3s
              ease-in-out infinite;
}
.loader::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #218800;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;  
}
.loader::after {
  content: '';
  position: absolute;
  background: #f0f0f0;
  top: 50%;
  width: 40px;
  left: -15px;
  height: 40px;
  border-radius: 50%;
  transform: translateY(-100%);
  animation: animateBall 3s ease-in-out infinite;
}

@keyframes animateBall {
  0% {
    transform: translateY(-100%) translateX(-30px);
    }
  50% {
    transform: translateY(-100%) translateX(220px);
    }
  100% {
    transform: translateY(-100%) translateX(-30px);
  }
}

@keyframes animate {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

/* Animation */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



/* copy to clipboard */
/*
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/